# Ignore node_modules in api directory
api/node_modules/

# Ignore node_modules in socket directory
socket/node_modules/

# Ignore node_modules in client directory
client/node_modules/
/api/uploads/UsersServices
